<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shivam.foodle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeStreamActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".FavouritesActivity" />
        <activity android:name=".ReportAndFeedbackActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".AppetizersCategoryActivity" />
        <activity android:name=".BreakfastCategoryActivity" />
        <activity android:name=".DessertCategoryActivity" />
        <activity android:name=".HealthyCategoryActivity" />
        <activity android:name=".ChickenCategoryActivity" />
        <activity android:name=".MaindishCategoryActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".SearchResultActivity" />
        <activity android:name=".SearchResultDetailActivity"></activity>
    </application>

</manifest>